@import "base/variables";
@import "base/mixins";
@import "blocks/buttons";
@import "blocks/titles";
@import "blocks/header";
@import "blocks/divider";
@import "blocks/why";
@import "blocks/accounts";
@import "blocks/archive";
@import "blocks/how";
@import "blocks/connect";
@import "blocks/footer";
@import "./media";

.container {
  margin: 0 auto;
}

section {
  margin-bottom: 150px;
}
body {
  background: #fbfbff;
}
