.button {
  /*   padding: 20px 75px; */
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 66px;
  border: none;
  background: linear-gradient(93.32deg, #dd2f5d 0%, #5824b0 100%);
  /*   box-shadow: 0px 0px 69px rgba(225, 77, 210, 0.36); */
  border-radius: 20px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 109.1%;
  color: #ffffff;
  a {
    color: #ffffff;
  }
  &_header {
    display: inline;
    margin: auto;
  }
}
