.connect {
  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    margin-bottom: 30px;
  }

  &__content {
    padding: 29px 32px;
    width: 143.17px;
    height: 149.67px;
    border: 3px solid #ffffff;
    filter: drop-shadow(0px 14px 21px rgba(94, 104, 191, 0.3));
    backdrop-filter: blur(46.5px);
    border-radius: 20px;
    margin-bottom: 62px;
    &_last {
      padding: 29px 28px;
    }
    img {
      width: 80px;
      height: 92px;
    }
  }
  &__divider {
    width: 213px;
    height: 3px;
    background: linear-gradient(270.03deg, #2d4df6 0%, #7759ff 100%);
    border-radius: 30px;
    margin-bottom: 20px;
  }

  &__descr {
    max-width: 300px;

    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 109.1%;
    /* or 20px */

    color: #000000;
  }
}
